<tr>
  <td>
      <%= f.label :role %>
      <%= f.select :role, Role::ROLES, :prompt=>"Bitte wählen" %>
  </td>
  <td>
      <%= f.autocomplete_field :person, autocomplete_person_name_roles_path %>
  </td>
  <td>
      <%= f.link_to_remove "Remove this task" %>
  </td>
</tr>