<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span10">
<!-- Header -->
<h1><%= @video.title %></h1>

<!-- Body -->

<br><br>
    <ul id="sequences">
    <% @video.sequences.each do |sequence| %>
        <%= render :partial => "sequences/sequence", :locals=>{:sequence=>sequence} %>
    <% end %>
    </ul>
<br>
<hr>
<%= link_to 'neue Sequenz anlegen', new_sequence_path(:video_id => @video.id) %>
<br>
<hr>
<%= link_to 'zurück zum Video', edit_video_path(@video) %>
</div>
</div>