<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Willkommen bei Scripting, <%= @user.name %></h1>
    <p>
      Du hast Dich erfolgreich im System angemeldet,
      Dein username ist: <%= @user.login %>.<br/>
    </p>
    <p>
      Um Dich einzuloggen, folge einfach diesem Link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>