<div class="row-fluid">
  <div class="span2">
    
  </div>

  <div class="span10">
      <h1>Hallo Admin!</h1>
      <p>choose wisely</p>
      <p><%= link_to "administrate users", admin_admin_administrate_users_path %></p>
  </div>
</div>